
# Config file for bedrock

version = 7
mcversion = {1, 8}
empty = []

ratio = 1.34

read_only

variable = ${version}

manifest = HOME/manifest.txt
logdir = /var/log/${arch}

listener
{
    port = 25565
}

memo = "some text ${version} more on ${listener.port}"


server
{
    name = bedrock_test0
    description = "A Bedrock test server"
    whitelist = ["personA", "PersonB"]
    log = ${logdir}/server.log
    
    'WORLD' = "uuidstring"
}
